<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <title>SignUp</title>

    <link rel="stylesheet" type="text/css" href="/views/css/style.css" />
  </head>
  <body>
    <div class="Container">
      <label>Credenciais</label>
      <hr />

      <form id="credentialsForm">
        <input type="email" id="email" placeholder="Email" autofocus required />
        <input
          type="password"
          id="password"
          placeholder="Senha"
          minlength="6"
          required
        />
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirmar Senha"
          minlength="6"
          required
        />
        <div class="checkbox">
          <input type="checkbox" id="showPassword" />
          <p>Mostrar Senha</p>
        </div>

        <span id="emailError" class="errorMessage"
          >Este Email já esta em uso.</span
        >

        <div class="formButtons">
          <button type="submit">Criar Conta</button>
        </div>
      </form>
    </div>
  </body>
  <script src="/views/scripts/credentialsScript.js"></script>
</html>
