<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">

        <title>SignUp</title>

        <link rel="stylesheet" type="text/css" href="../../view.css"/>
    </head>
    <body>

        <div class="Container">
            <label>Credenciais</label>
            <hr>

            <form>
                <input type="text" class="email" placeholder="Email" autofocus>
                <input type="password" class="password" placeholder="Senha">
                <input type="password" class="confirmPassword" placeholder="Confirmar Senha">
                
                <div class="formButtons">
                    <button>Criar Conta</button>
                </div>
            </form>
        </div>

    </body>

</html>