<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <title>ChangePassword</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="Container">
      <label>Trocar Senha</label>
      <hr />

      <p id="userEmail"></p>

      <form id="changePasswordForm">
        <input
          type="password"
          id="currentPassword"
          placeholder="Senha Atual"
          minlength="6"
          autofocus
          required
        />
        <input
          type="password"
          id="newPassword"
          placeholder="Nova Senha"
          minlength="6"
          required
        />
        <input
          type="password"
          id="confirmNewPassword"
          placeholder="Confirmar Nova Senha"
          minlength="6"
          required
        />
        <div class="checkbox">
          <input type="checkbox" id="showPassword" />
          <p>Mostrar Senha</p>
        </div>

        <span id="passwordError" class="errorMessage"
          >Senha Atual Incorreta.</span
        >

        <div class="formButtons">
          <button type="button" for="redButton" id="cancelButton">
            Cancelar
          </button>
          <button id="saveButton">Salvar</button>
        </div>
      </form>
    </div>
  </body>
  <script src="/scripts/changePasswordScript.js"></script>
</html>
