<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">

        <title>Login</title>

        <link rel="stylesheet" type="text/css" href="loginView.css"/>
    </head>
    <body>

        <div name="formDiv">
            <label>Entrar</label>

            <form>
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="password" placeholder="Senha">
            </form>

            <div name="formButtons">
                <button>Criar Conta</button>
                <button>Vamos</button>
            </div>
        </div>

    </body>

</html>