<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">

        <title>ChangePassword</title>

        <link rel="stylesheet" type="text/css" href="../../view.css"/>
    </head>
    <body>

        <div class="Container">
            <label>Trocar Senha</label>
            <hr>

            <p>email@example.com.br</p>

            <form>
                <input type="password" class="currentPassword " placeholder="Senha Atual" autofocus>
                <input type="password" class="newPassword" placeholder="Nova Senha">
                <input type="password" class="confirmNewPassword" placeholder="Confirmar Nova Senha">
                
                <div class="formButtons">
                    <button id="redButton">Cancelar</button>
                    <button>Salvar</button>
                </div>
            </form>
        </div>

    </body>

</html>