<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">

        <title>Datas</title>

        <link rel="stylesheet" type="text/css" href="../../view.css"/>
    </head>
    <body>

        <div class="Container">
            <label>Meus Dados</label>
            <hr>
                
            <div class="homeButtons">
                <select class="gender">
                    <option value="Masculino">Tabela</option>
                    <option value="Feminino">Lista</option>
                    <option value="Outros">Tópicos</option>
                </select>
                <hr>
                <button>Editar</button>
                <button>Trocar Senha</button>
                <button style="background-color: #FA8072;" >Deletar Conta</button>
            </div>

        </div>

    </body>

</html>