<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">

        <title>EditDatas</title>

        <link rel="stylesheet" type="text/css" href="../../view.css"/>
    </head>
    <body>

        <div class="Container">
            <label>Editar Dados</label>
            <hr>

            <p>email@example.com.br</p>
            
            <form>
                <input type="text" class="name" placeholder="Nome">
                <input type="text" class="surname" placeholder="Sobrenome">
                <input type="text" class="telephone" placeholder="Telefone">
                <select class="gender">
                    <option value="" disabled selected style="display:none;">Gênero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Outro">Outro</option>
                </select>
                
                <div class="formButtons">
                    <button id="redButton">Cancelar</button>
                    <button>Salvar</button>
                </div>
            </form>
        </div>

    </body>

</html>